In [1]:
#datasets dummy
import numpy as np
import pandas as pd

In [6]:
n=100
data=pd.DataFrame(
    {
        'A':np.random.randn(n),
        'B':1.5+2.5*np.random.randn(n),
        'C':np.random.uniform(5,32,n)
    },index=range(10,10+n)#cambiar el indice
)

In [8]:
data

            A         B          C
10  -2.304080 -1.615896  11.778146
11   0.024665  1.370853  23.050251
12  -0.221629 -1.017027  25.453593
13   0.423175  4.742591  11.634908
14  -0.113355 -0.310787   6.973874
..        ...       ...        ...
105 -2.539598 -1.719886  31.773986
106  1.231630 -2.991489  22.888811
107 -0.639009  0.747574  31.802807
108 -1.043413  6.360795  13.892989
109 -0.715823  2.674865  15.824437

[100 rows x 3 columns]