In [1]:
#datos distribuidos
import pandas as pd

In [2]:
data=pd.read_csv(r"D:\Estudiar\Python\MLData\distributed-data\001.csv")

In [3]:
#importar el primer fichero
#hacer bucle para recorrer cada uno de los ficheros
#cada uno debe apendizarse (a√±adirse al final del primer fichero)

In [14]:
filepath="D:/Estudiar/Python/MLData/distributed-data/"
data=pd.read_csv(filepath+"001.csv")

In [15]:
final_lenght=len(data)

for i in range(2,333):
    if i<10:
        filename="00"+str(i)
    elif 10<=i<100:
        filename="0"+str(i)
    elif i>=100:
        filename=str(i)
    File=filepath+filename+".csv"
    temp_data=pd.read_csv(File)
    final_lenght+=len(temp_data)
    data=pd.concat([data,temp_data],axis=0)

In [16]:
data.shape

(772087, 4)

In [17]:
data.tail()

           Date  sulfate  nitrate   ID
726  2004-12-27      NaN      NaN  332
727  2004-12-28      NaN      NaN  332
728  2004-12-29      NaN      NaN  332
729  2004-12-30      NaN      NaN  332
730  2004-12-31      NaN      NaN  332

In [18]:
final_lenght

772087