In [41]:
#join datasets, datos relacionales
import pandas as pd
import numpy as np

In [3]:
filepath="D:/Estudiar/Python/MLData/athletes/"
data_main=pd.read_csv(filepath+"Medals.csv",encoding="ISO-8859-1")

In [5]:
data_main.head()

,Athlete,Age,Year,Closing Ceremony Date,Gold Medals,Silver Medals,Bronze Medals,Total Medals
0,Michael Phelps,23.0,2008,08/24/2008,8,0,0,8
1,Michael Phelps,19.0,2004,08/29/2004,6,0,2,8
2,Michael Phelps,27.0,2012,08/12/2012,4,2,0,6
3,Natalie Coughlin,25.0,2008,08/24/2008,1,2,3,6
4,Aleksey Nemov,24.0,2000,10/01/2000,2,1,3,6

In [12]:
a=data_main["Athlete"].unique().tolist()

In [17]:
len(a)

6956

In [18]:
data_country=pd.read_csv(filepath+"Athelete_Country_Map.csv",encoding="ISO-8859-1")

In [20]:
data_country.head

<bound method NDFrame.head of                    Athlete        Country
0           Michael Phelps  United States
1         Natalie Coughlin  United States
2            Aleksey Nemov         Russia
3            Alicia Coutts      Australia
4           Missy Franklin  United States
...                    ...            ...
6965      Olena Sadovnycha        Ukraine
6966      Kateryna Serdiuk        Ukraine
6967      Wietse van Alten    Netherlands
6968  Sandra Wagner-Sachse        Germany
6969             Rod White  United States

[6970 rows x 2 columns]>

In [22]:
data_country[data_country["Athlete"]=="Aleksandar Ciric"]

               Athlete                Country
1029  Aleksandar Ciric                 Serbia
1086  Aleksandar Ciric  Serbia and Montenegro

In [23]:
data_Sports=pd.read_csv(filepath+"Athelete_Sports_Map.csv",encoding="ISO-8859-1")

In [25]:
cd1=data_Sports["Athlete"]=="Chen Jing"
cd2=data_Sports["Athlete"]=="Richard Thompson"
cd3=data_Sports["Athlete"]=="Matt Ryan"
data_Sports[cd1|cd2|cd3]

               Athlete         Sport
528   Richard Thompson     Athletics
1308         Chen Jing    Volleyball
1419         Chen Jing  Table Tennis
2727         Matt Ryan        Rowing
5003         Matt Ryan    Equestrian
5691  Richard Thompson      Baseball

In [29]:
data_country_dp=data_country.drop_duplicates(subset="Athlete")

In [30]:
len(data_country_dp)==len(a)

True

In [31]:
data_main_country=pd.merge(left=data_main,right=data_country_dp,
                            left_on="Athlete",right_on="Athlete")

In [32]:
data_main_country.shape

(8618, 9)

In [34]:
data_sports_dp=data_Sports.drop_duplicates(subset="Athlete")
len(data_sports_dp)==len(a)

True

In [37]:
data_final=pd.merge(left=data_main_country,right=data_sports_dp,
                    left_on="Athlete",right_on="Athlete")

In [39]:
data_final.head()

,Athlete,Age,Year,Closing Ceremony Date,Gold Medals,Silver Medals,Bronze Medals,Total Medals,Country,Sport
0,Michael Phelps,23.0,2008,08/24/2008,8,0,0,8,United States,Swimming
1,Michael Phelps,19.0,2004,08/29/2004,6,0,2,8,United States,Swimming
2,Michael Phelps,27.0,2012,08/12/2012,4,2,0,6,United States,Swimming
3,Natalie Coughlin,25.0,2008,08/24/2008,1,2,3,6,United States,Swimming
4,Natalie Coughlin,21.0,2004,08/29/2004,2,2,1,5,United States,Swimming

In [43]:
#Tipos de joins
#crear nueva data 
out_athletes=np.random.choice(data_main["Athlete"],size=6,replace=False)

In [44]:
data_country_dlt=data_country_dp[(~data_country_dp["Athlete"].isin(out_athletes))&
                                (data_country_dp["Athlete"]!="Michael Phelps")]