In [107]:
%config IPCompleter.greedy=True

In [108]:
%reset -f
import pandas as pd
mainPath="D:/Estudiar/Python"
filePath="MLData/customer-churn-model/Customer Churn Model.txt"
fullPath=mainPath+"/"+filePath
data=pd.read_csv(fullPath)

In [109]:
Columns_names="MLData/customer-churn-model/Customer Churn Columns.csv"
dataCols=pd.read_csv(mainPath+"/"+Columns_names)
dataColsNames=dataCols["Column_Names"].tolist()

In [110]:
data2=pd.read_csv(fullPath,header=None,names=dataColsNames)

In [111]:
data3=open(mainPath+"/"+filePath,"r")

In [112]:
Cols=data3.readline().strip().split(",")
length_Cols=len(Cols)
Cols

['State',
 'Account Length',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [113]:
counter=0
main_dict={}
for Col in Cols:
    main_dict[Col]=[]

In [ ]:
for line in data3:
    Values=line.strip().split(",")
    for i in range(length_Cols):
        main_dict[Cols[i]].append(Values[i])
    counter+=1

In [92]:
print("El dataset tiene %d filas y %d columnas"%(counter,length_Cols))

El dataset tiene 3333 filas y 21 columnas

In [103]:
df3=pd.DataFrame(main_dict)

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.