In [11]:
import pandas as pd

In [12]:
data=pd.read_csv("D:\Estudiar\Python\MLData\customer-churn-model\Customer Churn Model.txt")

In [21]:
account_length=data["Account Length"]
account_length.head()

0    128
1    107
2    137
3     84
4     75
Name: Account Length, dtype: int64

In [24]:
desire_columns=["Account Length","Phone","Eve Charge", "Night Calls"]
subset=data[desire_columns]
subset.head()

   Account Length     Phone  Eve Charge  Night Calls
0             128  382-4657       16.78           91
1             107  371-7191       16.62          103
2             137  358-1921       10.30          104
3              84  375-9999        5.26           89
4              75  330-6626       12.61          121

In [42]:
desire_columns=["Account Length","VMail","Day Calls"]
all_columns_list=data.columns.values.tolist()

In [43]:
sublist=[x for x in all_columns_list if x not in desire_columns]

In [39]:
sublist

['State',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [40]:
subdata=data[sublist]

In [41]:
subdata

,State,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,415,382-4657,no,yes,25,265.1,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,415,371-7191,no,yes,26,161.6,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,415,358-1921,no,no,0,243.4,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,408,375-9999,yes,no,0,299.4,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,415,330-6626,yes,no,0,166.7,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,415,414-4276,no,yes,36,156.2,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False.
3329,WV,415,370-3271,no,no,0,231.1,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False.
3330,RI,510,328-8230,no,no,0,180.8,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False.
3331,CT,510,364-6381,yes,no,0,213.8,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False.
3332,TN,415,400-4344,no,yes,25,234.4,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False.

In [48]:
a=set(desire_columns)#actualy not desire
b=set(all_columns_list)
sublist=b-a
sublist=list(sublist)

In [50]:
data[:3]

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.

In [55]:
data[3330:]

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,...,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False.
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False.
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False.

In [60]:
data1=data[data["Day Mins"]>300]

In [67]:
data2=data[data["State"]=="NY"]

In [73]:
data3=data[(data["Day Mins"]>300)&(data["State"]=="NY")]
data3.shape

(2, 21)

In [75]:
subdata_first_50=data[["Day Mins","Night Mins","Account Length"]][:50]#columns_Rows

In [80]:
data.iloc[1:10,3:6]#basado en posicion

      Phone Int'l Plan VMail Plan
1  371-7191         no        yes
2  358-1921         no         no
3  375-9999        yes         no
4  330-6626        yes         no
5  391-8027        yes         no
6  355-9993         no        yes
7  329-9001        yes         no
8  335-4719         no         no
9  330-8173        yes        yes

In [81]:
data.loc[1:10,["Area Code","VMail Plan","Day Mins"]]

    Area Code VMail Plan  Day Mins
1         415        yes     161.6
2         415         no     243.4
3         408         no     299.4
4         415         no     166.7
5         510         no     223.4
6         510        yes     218.2
7         415         no     157.0
8         408         no     184.5
9         415        yes     258.6
10        415         no     129.1

In [82]:
data["Total Mins"]=data["Day Mins"]+data["Night Mins"]+data["Eve Mins"]

In [83]:
data["Total Mins"]

0       707.2
1       611.5
2       527.2
3       558.2
4       501.9
        ...
3328    650.8
3329    575.8
3330    661.5
3331    512.6
3332    741.7
Name: Total Mins, Length: 3333, dtype: float64